<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/output.css">
</head>
<body class="m-0">
    <!--<div class="w-screen h-screen bg-[radial-gradient(ellipse_at_center,rgba(0,0,0,0)_20%,rgba(0,0,0,0.7)_100%)] -z-40">
        <img src="<%= bg_image %>" alt="background" id="bg" class="w-screen h-screen bg-center bg-cover bg-no-repeat -z-50">
    </div>-->

    <div class="relative w-full h-auto -z-50">
        <img src="<%= bg_image %>" alt="background" id="bg" class="absolute w-screen h-screen object-cover -z-50">

        <div class="absolute inset-0 bg-[radial-gradient(ellipse_at_center,_rgba(0,0,0,0)_40%,_rgba(0,0,0,0.7)_100%)] w-screen h-screen -z-40"></div>
    </div>


    <h1 class="inline-block row-1 col-1">AAAA</h1>
    <p class="inline-block col-start-2 col-end-3 row-start-1 row-end-1">1234567890</p>



    <!--<script src="background.js"></script>-->
</body>
</html>